body{
    background-color: #9E9073;
}
.login{
    border-radius: 10px;
    width: 340px;
    height: 460px;
    background-color: #F3F3F3;
    margin: 0 auto;
}
.demoFont {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: -1px;
    word-spacing: 2.8px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    }