body{
    background-color: #9E9073;}
.demoFont{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: -1px;
    word-spacing: 2.8px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;}
#bg{
        position: fixed; 
        top: -50%; 
        left: -50%; 
        width: 200%; 
        height: 200%;}
#bg img{
        position: absolute; 
        top: 400px; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        min-width: 50%;
        min-height: 50%;
        background-size: cover;}
      @import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Sansita Swashed", cursive;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  word-spacing: 3px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;}
.center{ 
    margin-top: -220px;
  padding: 50px 50px;
  background: rgb(104, 101, 101);
  border-radius: 20px;
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid #9E9073;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 50px;
  font-weight: bold;
  padding-left: 15px;
}
.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;}
.center .inputbox [type="button"] {
  width: 50%;
  background: #9E9073;
  color: rgb(0, 0, 0);
  border: rgb(255, 255, 255);}
  .center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, rgb(0, 0, 0), #9E9073);}