* {box-sizing: border-box;}

body {
margin: 0;
font-family: Arial;
}
.header {
overflow: hidden;
background-color: rgb(255, 255, 255);
padding: 10px 10px;
}
.header a {
float: left;
color: black;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 30px;
line-height: 25px;
border-radius: 17px;
font-family: "Sansita Swashed", cursive;
font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.headera.logo {
font-size: 30px;
font-weight: bold;
}
.header a:hover {
background-color: grey;
color: black;
}
.headera.active {
background-color: green;
color: white;
}
.header-right {
width: 1000px;
margin: 0 auto;
}
@media screen and (max-width: 500px) {
.header a {
float: none;
display: block;
text-align: left;
}
.header-right {
float: none;
}
}
.valsts{
background: rgb(104, 101, 101); 
width: 270px;
height: 270px;
font-size: 22px;
        text-align: center;
        font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
        float: left;
        padding: 10px; 
        border-radius: 17px;
        margin:10px;
}